body {
    background-color: grey;
}

main {
    color: yellow;
    text-align: center;
    font-size: 1.5em;
    font-family: monospace;
}

input{
    color: red;
    padding: 0.5em;
    font-family: monospace;
    font-size: 1.5em;
}
